<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<title>To-Dos</title>
</head>
<body>

{{> header}}

<main>
  <p>Welcome! Please <a href="/login">login</a> or <a href="/signup">sign up</a>.</p>
</main>

{{> footer}}

</body>
</html>
